<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
        <h3 class = "text-3xl mb-5">Create Account</h3>
        <form action="/register" method="post">
            <input type="text" class = "block m-2 px-3 py-2 outline-none bg-transparent border-2 border-zinc-800 rounded-md" placeholder="name" name = "name">
            <input type="text" class = "block m-2 px-3 py-2 outline-none bg-transparent border-2 border-zinc-800 rounded-md" placeholder="username" name = "username">
            <input type="number" class = "block m-2 px-3 py-2 outline-none bg-transparent border-2 border-zinc-800 rounded-md" placeholder="age" name = "age">
            <input type="email" class = "block m-2 px-3 py-2 outline-none bg-transparent border-2 border-zinc-800 rounded-md" placeholder="email" name = "email">
            <input type="password" class = "block m-2 mb-5 px-3 py-2 outline-none bg-transparent border-2 border-zinc-800 rounded-md" placeholder="password" name = "password">
            <input type="submit" class = "block m-2 px-5 py-2 rounded-md bg-blue-500" value = "Create Account">
        </form>
    </div>
</body>
</html>